*{padding: 0;
  margin:0 ;
  }
 body{ text-align: center;
    font-family: "微软雅黑";
    }
 img{height: 500px;
     width: 500px;
    }   

     #div2
     {padding: 0;
        margin: 0;
         width:1000px;
         height:1000px;
         
         
     }
 